.wrapper {
  padding-top: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 10%;
}

.action-block {
  display: flex;
  justify-content: flex-end;
  width: 100%;  
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-x: auto;
  opacity: 0.9;
  & .table-row {
  display: flex;
  border-bottom: 2px solid white; 
    & .cell {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 140px;
      overflow-x: auto;
      margin: 5px;
    }
  }
}