.arrow {
    fill: #e6cfb7;
    margin-top: auto;
}

.svgWrap {
    display: flex;
    align-items: center;
}

.svg {
    position: relative;
    right: -40px;
    opacity: 0.0;
    transition: 0.5s;
}

.trim {
    background: transparent;
    position: absolute;
    height: 82%;
    width: 100%;
    top: 5%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    left: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.0;
}

.li {
    overflow: hidden;
    text-transform: uppercase;
    padding-bottom: 4px;
    font-size: 35px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    line-height: 60px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    position: relative;
    opacity: 0.6;
    &:hover {
        background: rgb(54, 54, 54);
        cursor: pointer;
        padding-left: 20px;
        padding-right: 50px;
        color: white;
        border-radius: 10px;
        opacity: 0.9;
    }
    &:hover .trim {
        left: 0px;
        opacity: 1;
    }
    &:hover .svg {
        opacity: 1;
    }
}
