.trim {
    background: transparent;
    position: absolute;
    height: 82%;
    width: 100%;
    top: 5%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    left: 0;
    opacity: 0.0;
}

.li {
    overflow: hidden;
    text-transform: uppercase;
    padding-bottom: 4px;
    font-size: 35px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    line-height: 60px;
    display: inline-block;
    position: relative;
    opacity: 0.6;
    padding: 0 10px 0 10px;
    transition: transform 0.7s;

    &:hover {
        background: rgb(54, 54, 54);
        cursor: pointer;
        color: white;
        border-radius: 10px;
        opacity: 0.9;
        transform: scale(1.05);
    }
    &:hover .trim {
        left: 0px;
        opacity: 1;
    }
}
