.hero-info {
    display: block;
    position: fixed;
    width: 100vw;
    height: 3vh;
    bottom: 0;
    color: darkorange;
    z-index: -1;
}

.attack-phrase {
    position: absolute;
    right: 0;
    width: 30%;
    background-color: black;
    border: none;
    border-radius:  5px;
    color: darkorange;
    &:focus {
        outline: none;
    }
}