.testStore {
    color: white;
}

.link {
    font-size: 40px;
    text-decoration: none;
    color: rgb(120, 95, 153);
}

.link:hover {
    font-size: 40px;
    text-decoration: none;
    color: rgb(65, 81, 224);
    cursor: pointer;
}