.form {
  width: 450px;
  padding: 45px;
  text-align: center;
}

.input {
  background: #000000;
  width: 90%;
  border: 2px solid rgb(172, 137, 126);
  outline: rgb(172, 137, 126);
  color: white;
  text-align: center;
  margin-bottom: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}