.hero {
    display: inline-block;
    position: absolute;
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    // it's better to add some blinking animation here
    background: radial-gradient(darkorange, black);
}