.input-text {
  display: inline-block;
  padding: 15px 15px;
  border: 2px solid #ffffff;
  margin: 0 10px 0 0;
  border-radius: 10px;
  background: none;
  color: #ffffff;
  text-align: center;
  height: fit-content;
  transition: all 0.2s;
  margin: 4px;
  &:hover {
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
  }
}
