.battle-field {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    &:fullscreen .not-on-full-screen {
        display: none;
    }
}

.button {
    background-color: transparent;
    border: none;
    color: darkred;
    font-size: 20px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
}

.button2 {
    color: red;
}

.buttons {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    bottom: 20%;
}