.options {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 500px;
    flex: 1;
    height: 100vh;
}

.languagesBlock {
    color: white;
    font-size: 18px;
    padding: 20px;
    font-size: 35px;
}