.wrapper {
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  margin: 0 10%;
  padding-bottom: 20px;
}

.selectBlock {
  display: flex;
  flex-wrap: wrap;
}

.buttonsBlock {
  display: flex;
  flex-wrap: wrap;
}