.action-block {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-x: auto;
  opacity: 0.9;
  & .table-row {
  display: flex;
  border-bottom: 2px solid white; 
    & .cell {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 140px;
      overflow-x: auto;
      margin: 5px;
    }
  }
}

.link {
  color: rgb(172, 137, 126);
  padding: 5px;
  text-decoration: none;
}