.wrapper {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 10%;
  padding-bottom: 20px;
}

.action-block {
  margin: 20px 0;
  display: flex;
  width: 80vw;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  color: white;
  width: 80vw;
}

.table {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  max-width: 80vw;
  color: white;
  overflow-x: auto;
  & .table-row {
    display:flex;
    & .cell {
      min-width: 140px;
      width: 140px;
      max-width: 140px;
      overflow-x: auto;
      text-align: center;
      margin-bottom: 5px;
      border-right: 1px solid rgb(172, 137, 126);
      border-left: 1px solid rgb(172, 137, 126);
    }
  }
}
