
.input-text {
    background-color: transparent;
    border: none;
    color: darkred;
    font-size: 20px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    margin: 10px;
    color: rgb(120, 95, 153);
    
    &:hover {
        color: rgb(65, 81, 224);
    }
}